* {
    color: var(--table-white-color);
}

#inventory-form {
    border: 2.5px solid var(--table-white-color);
    position: relative;
    width: 60%;
    margin: 10% auto;
    z-index: 0;
}

form {
    display: flex;
    height: 5rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 12.5%;    
}

.row::after {
    content: none;
}

input {
    width: 20% !important;
    text-align: center;
    opacity: 0.95;
}

#submit-button {
    position: absolute;
    display: flex;
    margin-top: 85px;
    justify-content: center;
    color: black;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}