<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/allstyles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Homepage</title>
</head>

    <!--A fixed navigation bar with icons and links-->
    <nav class="z-depth-5" name="navigation-bar">
        <h1 class="nav-links" id="homepage"><a class="nav-href" id="homepage-link" href="/">Home</a>
            <img class="nav-icons" id="homepage-icon" src="/images/welcomeIcon.png">
        </h1>
        <h1 class="nav-links" id="inventory"><a class="nav-href" id="inventory-link" href="/inventory">Inventory</a>
            <img class="nav-icons" id="inventory-icon" src="/images/inventoryIcon.png">
        </h1>
        <h1 class="nav-links" id="details"><a class="nav-href" id="details-link" href="/inventory/details">Details</a>
            <img class="nav-icons" id="details-icon" src="/images/detailsIcon.png">
        </h1>
    </nav>

    <!--Authentication button configuration-->
    <div class="auth-button-div">
        <% if (isLoggedIn) { %>
            <a class="btn waves-effect waves-light blue darken-3 z-depth-2 auth-buttons" id="auth-button-profile">Welcome, <%=user.name%></a>
            <a href="/logout" class="btn waves-effect waves-light blue darken-3 z-depth-2 auth-buttons" id="auth-button-logout">Logout</a>
        <% } else { %>
            <a href="/login" class="btn waves-effect waves-light blue darken-3 z-depth-2 auth-buttons" id="auth-button-login">Login</a>
        <% } %>
    </div>
</html>